
body{
    display: grid;
    grid-gap: 50px;
}

#header1{
    background-color: rgb(206,228,254);
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 1%;
    border-radius: 20px;
    font-size: 28px;
}

#div2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    justify-self: center;
}

#imagePerfil{
    border-radius: 20px;
    max-width: 380px;
    justify-self: center;
}

#seccionDesc{
    display: flex;
    flex-direction: column;
    grid-column: span 2
}

#div3{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#footer1{
    background-color: rgb(206,228,254 );
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 20px;

}

.uade{
    max-width: 400px;
}

h4{
    font-weight: lighter;
    align-items: center;
}

h3{
    font-weight: bolder;
    font-size: larger;
}

@media (max-width: 950px){
    #div2{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        grid-gap: 5px;
    }

    

    #imagePerfil{
        border-radius: 20px;
        flex-basis: 100%;
        max-width: 380px;
        align-self: center;
    }
    #header1{
        background-color: rgb(206,228,254);
        text-align: center;

        border-radius: 20px;
        font-size: 15px;
    }

    .uade{

        border-radius: 20px;
        flex-basis: 100%;
        max-width: 280px;
    }

}
